<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Autolocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Autolocker.Properties.Settings>
            <setting name="configAscent" serializeAs="String">
                <value />
            </setting>
            <setting name="configBind" serializeAs="String">
                <value />
            </setting>
            <setting name="configBreeze" serializeAs="String">
                <value />
            </setting>
            <setting name="configFracture" serializeAs="String">
                <value />
            </setting>
            <setting name="configHaven" serializeAs="String">
                <value />
            </setting>
            <setting name="configIcebox" serializeAs="String">
                <value />
            </setting>
            <setting name="configLotus" serializeAs="String">
                <value />
            </setting>
            <setting name="configPearl" serializeAs="String">
                <value />
            </setting>
            <setting name="configSplit" serializeAs="String">
                <value />
            </setting>
        </Autolocker.Properties.Settings>
    </userSettings>
</configuration>